@use 'variables' as *;
@use 'basic';

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $main-color;
    font-family: $main-font;
}

main {
    @include flex-center;

    .raster {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin: 4rem;

        .button {
            aspect-ratio: 1/1;
            border-radius: 25px;
            box-shadow: 1px 1px 6px rgba(30, 30, 30, 0.5), -1px -1px 6px rgba(30, 30, 30, 0.5);
            font-size: 1.5rem;
            padding: 0.5rem 0.5rem;
            overflow: hidden;
            @include flex-center();
            position: relative;

            .link {
                color: $font-color;
                text-decoration: none;
            }

            .overlay {
                position: absolute;
                background-color: $overlay-color;
                transition: all .5s ease-in-out;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                opacity: 0;
            }

            :hover {
                opacity: 1;
            }
        }
    }

    .violet {
        background-color: $violet;
    }

    .lavender {
        background-color: $lavender;
    }

    .purple {
        background-color: $purple;
    }

    .blue {
        background-color: $blue;
    }
}

@media screen and (max-width: 200px) {
    main {
        .raster {
            grid-template-columns: 1fr;
            gap: 1.5rem;
            margin: 1.5rem;

            .button {
                border-radius: 0px;
                font-size: 1rem;
                padding: 0.3rem 0.3rem;
            }
        }
    }
}

@media screen and (min-width: 201px) and (max-width: 600px) {
    main {
        .raster {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            margin: 1.5rem;

            .button {
                border-radius: 15px;
                font-size: 2rem;
                padding: 0.3rem 0.3rem;
            }
        }
    }

}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    main {
        .raster {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}